@import url(https://fonts.bunny.net/css?family=space-mono:400,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-mono bg-main-gradient bg-cover bg-no-repeat bg-center min-h-screen;
	}
}

@layer components {
	.signin-form-input {
		@apply block w-full rounded-md border-0 py-1.5 text-violet-900 shadow-sm ring-1 ring-inset ring-violet-300 placeholder:text-violet-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-sm sm:leading-6
	}

	.btn-primary {
		@apply rounded-md bg-violet-400 px-4 py-2 text-sm font-medium font-bold uppercase text-white transition-colors duration-300 hover:bg-violet-500 focus:ring-4 focus:outline-none focus:ring-pink-300
	}

	.signin-button {
		@apply btn-primary shadow-md flex w-full justify-center
	}

	.form-label {
		@apply block text-sm font-medium leading-6 text-violet-700 text-lg
	}
}

@layer utilities {
	.input-bg-pattern {
		background-image: url("./assets/mesh-pattern.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}